{% extends "_templates/base.njk" %}

{% block content %}
<article>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Raleway&display=swap" rel="stylesheet">
  <h1>Discography</h1>
  <p>blah blah blah (will be replaced later)</p>
  <div class="row">
    {% for discography in queen.discography %}
  <div class="col-sm-6 col-md-4">
    <div class="card border-secondary">
      <div class="card-body">
        <img src="../img/discs/{{ discography.image }}" alt="." class="img-thumbnail">
        <h5 class="card-title">{{ discography.title }}</h5>
        <p class="card-text">{{ discography.year }}</p>
      </div>
    </div>
  </div>
    {% endfor %}
</div>
</article>
{% endblock %}