{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Queen</h1>
      <p>I'll think of something better to put here later...</p>
    </div>
  </div>
</div>
{% endblock %}