{% extends "_templates/base.njk" %}

{% block content %}
<article class="container">
  <h1>Members of the Band</h1>
  <p>blah blah blah (will be replaced later)</p>
  <div class="card-deck">
    {% for members in queen.members %}
  <div class="card">
    <img class="card-img-top" src="{{ members.imagebw }}">
    <div class="card-body">
      <h5 class="card-title">{{ members.name }}</h5>
      <p class="card-text">{{ members.instruments }}</p>
      <a href="#" target="_blank">Find out more</a>
    </div>
  </div>
  {% endfor %}
</div>
</article>
{% endblock %}